<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>539859225054-p9n4paofc77hakjnkm12f9h4hb0415aq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.539859225054-p9n4paofc77hakjnkm12f9h4hb0415aq</string>
	<key>API_KEY</key>
	<string>AIzaSyDFbl_Aq4AwHhh_rpCxUfsZNzyEk0j-JPA</string>
	<key>GCM_SENDER_ID</key>
	<string>539859225054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.karoninfotech.wellontechnician</string>
	<key>PROJECT_ID</key>
	<string>wellon-project</string>
	<key>STORAGE_BUCKET</key>
	<string>wellon-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:539859225054:ios:ac8b39e673629ecf06354f</string>
	<key>DATABASE_URL</key>
	<string>https://wellon-project.firebaseio.com</string>
</dict>
</plist>